<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/topics"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="profile-image-container" (click)="editProfilePicture()">
    <img
      src="assets/img/no_logo.jpg"
      alt="Profile Image"
      class="profile-image"
    />
    <div class="edit-badge">
      <ion-icon name="create-outline"></ion-icon>
    </div>
  </div>

  <ion-content class="ion-padding">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-input
        formControlName="name"
        fill="solid"
        label="Edit your name"
        labelPlacement="floating"
        placeholder="Your name"
        [errorText]="nameErrorText()"
      ></ion-input>
      <ion-input
        formControlName="familyName"
        fill="solid"
        label="Edit your family name"
        labelPlacement="floating"
        placeholder="Your family name"
        [errorText]="familyNameErrorText()"
      ></ion-input>
    </form>
  </ion-content>
</ion-content>
