<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-input
      formControlName="email"
      fill="solid"
      label="Enter your email"
      type="email"
      labelPlacement="floating"
      placeholder="Your email"
      [errorText]="emailErrorText()"
    ></ion-input>

    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">
        <ion-button (click)="cancel()" color="medium">Cancel</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button type="submit" [disabled]="userForm.invalid" strong="true">
          Confirm
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
